<div class="booking-wrapper">

  <div class="booking-card">
    <h1 class="text-red">PRENOTA <br>IL TUO TAVOLO</h1>
    <p class="subtitle">Vieni a provare la vera pizza Ohimà. Assicurati il tuo posto compilando il modulo qui sotto.</p>

    <form class="booking-form" (submit)="confermaPrenotazione()">

      <div *ngIf="messaggioSuccesso" class="alert success-alert">
        🎉 Grandioso! Il tuo tavolo è prenotato. Ti aspettiamo!
      </div>
      <div *ngIf="messaggioErrore" class="alert error-alert">
        🚨 {{ messaggioErrore }}
      </div>

      <div class="input-group">
        <label>NOME E COGNOME *</label>
        <input type="text" name="name" [(ngModel)]="bookingData.customerName" placeholder="Es. Dario Elia" required>
      </div>

      <div class="input-row">
        <div class="input-group">
          <label>TELEFONO *</label>
          <input type="tel" name="phone" [(ngModel)]="bookingData.customerPhone" placeholder="Es. 333 1234567" required>
        </div>
        <div class="input-group">
          <label>PERSONE *</label>
          <input type="number" name="people" [(ngModel)]="bookingData.numberOfPeople" min="1" max="20" required>
        </div>
      </div>

      <div class="input-row">
        <div class="input-group">
          <label>DATA *</label>
          <input type="date" name="date" [(ngModel)]="bookingData.bookingDate" required>
        </div>
        <div class="input-group">
          <label>ORA *</label>
          <input type="time" name="time" [(ngModel)]="bookingData.bookingTime" min="19:00" max="23:30" required>
        </div>
      </div>

      <div class="input-group">
        <label>RICHIESTE PARTICOLARI (Opzionale)</label>
        <input type="text" name="notes" [(ngModel)]="bookingData.notes" placeholder="Allergie, seggiolone, ecc...">
      </div>

      <button type="submit" class="btn btn-primary submit-btn">
        CONFERMA PRENOTAZIONE
      </button>

    </form>
  </div>

</div>
